@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}
body {
  width: 1108px;
  margin: 0 auto;
  background-color: #b73232;
}

/* ----------------------header------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  position: fixed;
  top: 0;
  width: 1108px;
}
.header__img {
  background-image: url(../assets/logo.svg);
  height: 51px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__nav {
  display: flex;
}
.header__nav p {
  font: 500 22px "DM Sans";
  color: #181717;
}
.header__nav p:hover {
  text-decoration: underline;
}
.header__nav p:not(:last-child) {
  margin-right: 32px;
}

/* -------------------main_section_preview--------------- */

.preview {
  display: flex;
  margin-top: 147px;
}
.preview__about {
  width: 575px;
}
.preview__about h1 {
  font: 500 60px "DM Sans";
  color: #181717;
  width: 480px;
}
.preview__about .preview_text1 {
  font: 400 24px "DM Sans";
  color: #606060;
}
.preview__about .preview_text2 {
  font: 400 24px "DM Sans";
  color: #606060;
  margin-top: 20px;
}
.preview .foto {
  background-color: #606060;
  width: 406px;
  height: 458px;
  margin-left: 95px;
}

/* -------------------main_section_skills--------------- */

.skills {
  margin-top: 67px;
}
.skills .skills__type1 {
  display: flex;
}
.skills .skills__type2 {
  display: flex;
}
.skills__type1__data1 {
  font: 500 22px "DM Sans";
  text-decoration-line: underline;
  color: #181717;
  width: 125px;
}
.skills__type1__data2 {
  font: 400 20px "DM Sans";
  color: #181717;
  width: 436px;
  margin-left: 63px;
}
.skills__type2__data1 {
  font: 500 22px "DM Sans";
  text-decoration-line: underline;
  color: #181717;
  width: 125px;
}
.skills__type2__data2 {
  font: 400 20px "DM Sans";
  color: #181717;
  width: 436px;
  margin-left: 63px;
}
.skills__type2 {
  margin-top: 92px;
}

/* -------------------main_section_feedback--------------- */

.line {
  border: 2px solid #181717;
  margin-top: 111px;
  background-color: #181717;
}
.feedback .contact {
  display: flex;
  margin-top: 63px;
}
.contact .answer {
  font: 400 32px "DM Sans";
  color: #181717;
  width: 347px;
}
.contact .arrow2 {
  background-image: url(../assets/arrow2.svg);
  width: 21px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 41px;
  align-self: center;
  position: relative;
}
.contact .arrow2:hover {
  left: 5px;
}
.contact .email {
  font: 400 32px "DM Sans";
  color: #181717;
  margin-left: 392px;
}

/* -------------------footer--------------- */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
  margin: 126px 0 116px 0;
}

footer .networks {
  display: flex;
}

footer .networks p {
  font: 500 22px "DM Sans";
  color: #181717;
}
footer .name {
  font: 500 22px "DM Sans";
  color: #2429af;
}

footer .networks p:not(:last-child) {
  margin-right: 30px;
}
